RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
  

# We use suPHP, so these will have to be created in a php.ini file if required.
   
# php_flag register_globals off
# physical path of config file
# php_value memory_limit 480M
# php_value upload_max_filesize 16M 
# php_value open_basedir none
# php_value post_max_size 20M
# php_value upload_max_filesize 20M

# Disable access to php files
<FilesMatch "\.(inc\.php)$">
  Order allow,deny
</FilesMatch>

<FilesMatch "\.sql$">
  Order allow,deny
</FilesMatch>


Options -Indexes
